body{
    background-color: rgb(231, 231, 231);
}
.display{
    position: relative;
    width: 90px;
    margin-top: 1rem;
    margin-left: 1rem;
    padding: 10px;
    
    
}
.display-options{
    display: flex;
    flex-direction: column;
}
.option-a{
    display: flex;
    margin-top: 1rem;
    margin-left: 1rem;
    padding: 10px;
}
.option-b{
    display: flex;
    /* margin-top: 1rem; */
    margin-left: 1rem;
    padding: 10px;
}